
.header {
  &__logo {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    &-name {
      font-size: 28px;
      font-weight: 800;

      &:before {
        content: '';
        display: inline-block;
        margin-right: 5px;
        height: 40px;
        width: 5px;
        background-color: #cccccc;
        vertical-align: top;
      }
    }

    &-wrap {
      margin-right: 10px;
      border: 2px solid #003bff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


.main {
  padding: 60px 0;
}

.d24 {
  background: #007bff;
  height: 40px;
  width: 20px;
  position: relative;
  z-index: 2;
  font-size: 18px;
  display: inline-block;
}

.d24:after {
  content: "";
  height: 20px;
  width: 40px;
  background: #007bff;
  position: absolute;
  left: -10px;
  top: 10px;
  z-index: -1;
  display: inline-block;
}
.option_color-blue {
  color: #000000;
}