@import "~normalize.css";
@import "roboto.css";
@import "~bootstrap/scss/bootstrap";
@import "_main-page.scss";
@import "_modal-form.scss";

body {
  font-family: 'Roboto', sans-serif;
}


option {
  color: red;
}

