@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}